<h4 class="navbar-top">
    <span class="@NavMenuCssClass">Werewolves</span> <span class="navbar-toggler" @onclick="ToggleNavMenu">@NavMenuExpanded</span>
</h4>

<div class="@NavMenuCssClass navbar" @onclick="ToggleNavMenu">
    <ul class ="navbar-content">
        <li>
            <NavLink class="btn btn-navbar" href="Host">
                <span aria-hidden="true"></span> Host
            </NavLink>
        </li>
        <li>
            <NavLink class="btn btn-navbar" href="Client">
                <span aria-hidden="true"></span> Join
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuExpanded => collapseNavMenu ? "↦" : "↤";
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
